h1 {
    font-family: 'Vast Shadow';
}

body{
    background-color: whitesmoke;
}

.third {
    min-width: 30%;
    min-height: 100px;
    color: white;
    background-color: darkgrey;
}

.jumbotron {
    background-color: darkblue;
    color: whitesmoke
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: center;
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn {
    background-color: black;
    color: whitesmoke
}