h1 {
    font-family: 'Aclonica', sans-serif;
}

.nav-tabs {
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 0;
}

body{
    background-color: whitesmoke;
}

.third {
    min-width: 30%;
    min-height: 100px;
    background-color: whitesmoke;
    border: 0px;
    float: left;
}

.jumbotron {
    background-color: lightblue;
    padding-top: 32px;
    padding-bottom: 100px;
    min-height: 100vh
}

.login-form {
    padding-top: 32px;
    padding-bottom: 30px;
    width: 500px;
    margin: 0 auto;
    border: solid 1px black;
    background-color: whitesmoke;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:lightblue;
  color: white;
  text-align: center;
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.btn {
    background-color: black;
    color: whitesmoke;
    border: 0px;
}

.btn-logout {
    background-color: #444340;
}

.btn-cart {
    background-color: blue;
    max-width: 115px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
}

.card-space {
    margin-bottom: 50px;
}

a {
    color: black
}

.zoom:hover {
    transform: scale(4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

